/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/


body { font: 1vw Georgia, serif; background-image: url("pictures/lagers.gif"); }  /* 1vw is 1% of the viewport width */
#header {background: rgb(196, 39, 39);  font: 2vw Georgia, serif; text-align: center; color: #000; border-radius: 15px;  }
div {  }
d3graph { background: #3ee; }
raw { background: #000; }
fft1 { background: #111; }
fft2 { background: #222; }
fft3 { background: #333; }
fft4 { background: #444; }
