body { background: #555; }
#page-wrap { width: 700px; }
#page-wrap:after { content: "Medium j Layout"; }
#main-content { float: right; width: 440px; height: 300px; }
#secondary-one { float: left; width: 170px; height: 300px; }
#secondary-two { display: none; }
